@import "../../styles/variables.scss";
.icon-button {
  width: fit-content;
  padding: 0.3rem;
  color: $green-darker;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:focus, &:hover {
    color: $green-darkest;
    transform: translateY(-1px);
  }

  &.background {
    border-radius: 50px;
    padding: 0.8rem;
    background-color: white;
  }

  &.secondary {
    color: $orange;

    &:hover {
      color: $orange-darker;
    }
  }

  &.danger {
    color: $danger;

    &:hover {
      color: $danger-darker;
    }
  }
}