@import "../../styles/variables.scss";
.icon-button {
  width: fit-content;
  padding: 0.3rem;
  color: $green-darker;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  &:focus, &:hover {
    color: $green-darkest;
    transform: translateY(-1px);
  }
}