@import "../../styles/variables.scss";

.comments {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid $black-lightest;

  &__container {
    width: 100%;

    > div {
      margin-bottom: 1rem;
    }
  }

  &__input {
    position: relative;
    display: flex;
    align-items: center;

    textarea {
      height: 1.625rem;
      width: calc(100% - 2.5rem);
    }

    > div {
      margin-right: 0.3rem;
    }

    svg {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      color: $green;
      cursor: pointer;

      &:hover {
        color: $green-darker;
        transform: translateY(-40%);
      }
    }
  }

  &__modal {
    > div:first-child {
      font-size: 1.5rem;
      font-weight: 600;
      color: $danger;
    }

    > div:nth-child(2) {
      margin-top: 0.6rem;
      margin-bottom: 1.3rem;
    }

    &__actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      > :first-child {
        margin-right: 1rem;
      }
    }
  }
}

.comment {
  width: fit-content;
  display: flex;
  align-items: flex-end;

  &.own {
    margin-left: auto;
    flex-direction: row-reverse;
  }

  &:hover {
    .comment__actions {
      visibility: visible;
    }
  }

  &__actions {
    margin-right: 0.3rem;
    margin-left: 0.3rem;
    align-self: center;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__container {
    max-width: 75%;
    min-width: min-content;
    display: flex;
    align-items: flex-end;
  
    &.own {
      flex-direction: row-reverse;
  
      > img {
        margin-right: 0;
        margin-left: 0.3rem;
      }
    }
  
    > div {
      margin-right: 0.3rem;
    }
  }

  &__info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  
    > label:first-child {
      &.colored {
        a {
          color: inherit;
      
          &:hover {
            filter: brightness(0.8);
          }
        }
      } 
    }
  
    > label:nth-child(2) {
      margin-left: 3rem;
      font-size: 0.75rem;
      font-style: italic;
      color: $green-lighter;
      white-space: nowrap;
    }
  }
  
  &__content {
    padding: 0.5rem;
    color: $black;
    background-color: $orange-lightest;
    border-radius: 8px;
    border-bottom-left-radius: 0;
  
    &.own {
      background-color: $green-lightest;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 0;
    }

    textarea {
      width: 30rem;
    }
  }
}

.textarea {
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  color: $black-darker;
  border-radius: 20px;
  border-color: $green;
  border-style: groove;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  resize: none;

  &:focus {
    border-color: $green-darker;
  }
}