$black-lightest: #d1d5d0;
$black-lighter: #748171;
$black:#172D13;
$black-darker: #0e1b0b;
$black-darkest: #050904;

$orange-lightest: #fdf8f6;
$orange-lighter: #f7e2d6;
$orange-light: #e7a983;
$orange:#D76F30;
$orange-darker: #81431d;
$orange-darkest: #2b160a;

$green-lightest: #e1f1e5;
$green-lighter: #a6d4b0;
$green:#6BB77B;
$green-darker: #406e4a;
$green-darkest: #406e4a;

$colonies-background: #f8f3eb;

$danger-darkest: #5e2b2b;
$danger-darker: #9e4848;
$danger: #c55a5a;
$danger-light: #d17b7b;
$danger-lighter: #eac3c3;
$danger-lightest: #faf2f2;

// WARNING
$warning-darkest: #6b6039;
$warning-darker: #b2a05f;
$warning: #dfc877;
$warning-light: #e5d392;
$warning-lighter: #f3ebce;
$warning-lightest: #fdfbf4;

// SUCCESS
$success-darkest: #1f6041;
$success-darker: #33a16c;
$success: #40c987;
$success-light: #66d49f;
$success-lighter: #baecd4;
$success-lightest: #f0fbf6;

// INFO
$info-darkest: #133f67;
$info-darker: #2069ac;
$info: #2883d7;
$info-light: #539cdf;
$info-lighter: #b1d2f1;
$info-lightest: #eef5fc;