@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
  max-width: 100%;
  padding: 1rem 2rem;
  top: 0;
  z-index: 10;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 -6px 10px 5px $black-darkest;

  svg {
    height: 16px;
    width: 16px;
  }

  &__logo {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: $orange 3px 3px 1px;

    a {
      @include link;

      &:hover {
        text-shadow: $orange-darker 3px 3px 1px;
      }
    }
  }

  &__links {
    display: flex;

    >:not(:last-child) {
      margin-right: 1rem;
    }
  }
  
  &__link {
    display: flex;
    align-items: baseline;

    svg {
      margin-right: 0.5rem;
    }
  }

  &__profile {
    display: flex;
    align-items: center;
    
    > div:first-child {
      margin-right: 0.3rem;
    }

    &:hover > div:first-child {
      filter: brightness(0.95);
    }
  }
}