@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.button {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__action {
    @include button;
  }
}