@import "../../styles/variables.scss";

.tag {
  height: 1.6rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $orange-lightest;
  border-radius: 8px;
  box-shadow: 0 4px 4px -2px $black-lighter;
  transition: all 0.3s ease 0s;

  &:focus, &:hover {
    background-color: $orange-lighter;
    box-shadow: 0 4px 4px -2px $black;
    transform: translateY(-1px);
  }

  &.clickable {
    cursor: pointer;

    * {
      cursor: pointer;
    }
  }

  &.shallow {
    padding:  0.1rem 0.5rem;
    background-color: white;
    color: $green-darker;
    border: 2px solid $green-darker;
    box-shadow: none;
  }

  &.danger {
    color: $danger;
    border-color: $danger;
  }

  &.warning {
    color: $warning;
    border-color: $warning;
  }

  &.info {
    color: $info;
    border-color: $info;
  }

  &.success {
    color: $success;
    border-color: $success;
  }
}