@import "../../styles/variables.scss";

.form-input {
  display: flex;
  flex-direction: column;

  &__labels {
    padding: 0 0.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-size: 0.825rem;
      color: $danger;
    }
  }

  input {
    height: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: white;
    border-color: $green-darkest;
    border-style: groove;
    outline: none;

    &:autofill, &:-webkit-autofill {
      background-color: white;
      -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    
    &:focus {
      background-color: $green-lightest;
    }
  }

  &__error {
    label {
      color: $danger;
    }

    input {
      background-color: $danger-lighter;
      border-color: $danger-darker;

      &:focus {
        background-color: $danger-lightest;
      }
    }
  }
}