@import "../../styles/variables.scss";

.view-event {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__back {
    margin-bottom: 2rem;
    display: block;
    align-self: flex-start;
    font-size: 1.5rem;
  }
}