@import "../../styles/variables.scss";

.view-event {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__back {
    margin-bottom: 2rem;
    display: block;
    align-self: flex-start;
    font-size: 1.5rem;
  }

  &__card {
    max-width: 95vw;
    width: 60%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__information {
    font-size: 0.825rem;
    color: $green-darker;
  }

  &__title {
    margin-bottom: 1.25rem;
    font-size: 1.75rem;
    font-weight: 700;
    color: $green;
  }

  &__description {
    margin-bottom: 1.5rem;
    color: $black-lighter;
    white-space: pre-line;
  }

  &__participants {
    &__title {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      font-size: 1.25rem;
      font-weight: 700;
      color: $green;
    }

    &__count {
      margin-left: 0.3rem;
      font-size: 1rem;
    }

    &__empty {
      font-style: italic;
    }

    &__container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.5rem;
    }
  }

  &__participate {
    background-color: $green-darker;
    color: white;

    svg {
      height: 16px;
      width: 16px;
      margin-right: 0.5rem;
    }

    &:hover {
      background-color: $green-darkest;
    }
  }

  &__comments {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid $black-lightest;

    &__container {
      width: 100%;

      > div {
        margin-bottom: 1rem;
      }
    }

    &__comment {
      display: flex;
      align-items: flex-end;

      &.own {
        flex-direction: row-reverse;

        > img {
          margin-right: 0;
          margin-left: 0.3rem;
        }
      }

      > img {
        margin-right: 0.3rem;
      }
    }

    &__info {
      display: flex;
      align-items: baseline;
      justify-content: space-between;

      label {
        margin-left: 3rem;
        font-size: 0.75rem;
        font-style: italic;
        color: $green-lighter;
      }
    }

    &__content {
      width: fit-content;
      max-width: 75%;
      padding: 0.5rem;
      color: $black;
      background-color: $orange-lightest;
      border-radius: 8px;
      border-bottom-left-radius: 0;

      &.own {
        margin-left: auto;
        background-color: $green-lightest;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 0;
      }
    }

    &__input {
      position: relative;
      display: flex;
      align-items: center;

      textarea {
        height: 1.625rem;
        width: calc(100% - 2.5rem);
        padding: 0.5rem 1.5rem 0.5rem 1rem;
        color: $black-darker;
        border-radius: 20px;
        border-color: $green;
        border-style: groove;
        outline: none;
        font-family: inherit;
        font-size: inherit;
        resize: none;

        &:focus {
          border-color: $green-darker;
        }
      }

      img {
        margin-right: 0.3rem;
      }

      svg {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        color: $green;
        cursor: pointer;

        &:hover {
          color: $green-darker;
          transform: translateY(-40%);
        }
      }
    }
  }
}