.events {
  width: 100%;

  &__header {
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__grid {
    display: flex;
    flex-direction: column;
    align-items: center;

    > div {
      max-width: 500px;
      margin-bottom: 2rem;
    }
  }
}